<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>VerbifrostConnectX</string>
    <key>CFBundleIdentifier</key>
    <string>com.verbifrost.connectx</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>VerbifrostConnectX</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.kpi.libkern</key>
        <string>18.0</string>
        <key>com.apple.kpi.iokit</key>
        <string>18.0</string>
        <key>com.apple.kpi.bsd</key>
        <string>18.0</string>
        <key>com.apple.kpi.mach</key>
        <string>18.0</string>
        <key>com.apple.iokit.IOPCIFamily</key>
        <string>2.9</string>
    </dict>
    <key>OSBundleRequired</key>
    <string>Root</string>
    <key>IOKitPersonalities</key>
    <dict>
        <key>VerbifrostConnectX6LX</key>
        <dict>
            <key>IOClass</key>
            <string>VerbifrostConnectXRDMA</string>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
            <key>IOPCIMatch</key>
            <string>0x101515b3</string>
            <key>IOProbeScore</key>
            <integer>5000</integer>
            <key>IOPCITunnelCompatible</key>
            <true/>
        </dict>
    </dict>
</dict>
</plist>
